<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaplanteam.cathy.dangerparty">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_skull_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_skull_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="765180815155" />

        <meta-data android:name="com.google.android.gms.games.API_KEY"
            android:value="AIzaSyD0acYa6lJH5mEC6Os3Ol3lJWfHNgpJ_pY" />

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>


        <activity android:name="com.kaplanteam.cathy.dangerparty.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetUpActivity"/>
        <activity android:name=".BackgroundActivity"/>
        <activity android:name=".GameActivity"/>
        <activity android:name=".EndGameActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>